.flex-container {
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 50px;
        font-size: 40px;
        img {
                height: 400px;
        }
}
